 .uidc-component.video-results {
 	.video-panel {
 		margin-bottom: 20px;			
 		.upper-panel img {
 			width: 100%;
 		}
 		.inner-panel {
 			border: 1px solid #ccc;
 			box-shadow: 1px 1px 4px 0px #CCC;
 			padding: 10px 15px;
 			min-height: 160px;	
 			strong {
 				color: #e39c21;
 				text-transform: uppercase;
 			}
 			h3 {
 				margin: 0;
 				text-transform: capitalize;
 				font-weight: bold;
 			}											
 			.foot-panel {					 				
 				padding: 0 0 10px 0; 	
 				position: absolute;
 				bottom: 0;						
 				ul {
 					padding: 0;
 					list-style: none;
 				}
 				li {
 					color: #a8a8a8;
 					span {
 						color: #e39c21;
 					}
 				}
 			}
 		}
 	}	
 }













