.uidc-component.video-results .video-panel {
  margin-bottom: 20px; }
  .uidc-component.video-results .video-panel .upper-panel img {
    width: 100%; }
  .uidc-component.video-results .video-panel .inner-panel {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px 0px #CCC;
    padding: 10px 15px;
    min-height: 160px; }
    .uidc-component.video-results .video-panel .inner-panel strong {
      color: #e39c21;
      text-transform: uppercase; }
    .uidc-component.video-results .video-panel .inner-panel h3 {
      margin: 0;
      text-transform: capitalize;
      font-weight: bold; }
    .uidc-component.video-results .video-panel .inner-panel .foot-panel {
      padding: 0 0 10px 0;
      position: absolute;
      bottom: 0; }
      .uidc-component.video-results .video-panel .inner-panel .foot-panel ul {
        padding: 0;
        list-style: none; }
      .uidc-component.video-results .video-panel .inner-panel .foot-panel li {
        color: #a8a8a8; }
        .uidc-component.video-results .video-panel .inner-panel .foot-panel li span {
          color: #e39c21; }

/*# sourceMappingURL=style.css.map */
