<!DOCTYPE html>
<!--if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7  
-->
<!--if IE 7html.no-js.lt-ie9.lt-ie8  
-->
<!--if IE 8html.no-js.lt-ie9  
-->
<!-- [if gt IE 8] <!-->
<html class="no-js">
<!-- <![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>EQUALIZE HEIGHT</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="uidc">
	<div class="container">
		<div class="uidc-component video-results" ng-controller="videoResults"> 				
			<div class="row">				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 video-panel" ng-repeat="result in results">
					<div class="upper-panel">
						<a href="#"><img ng-src="{{result.image}}"></a>
					</div>
					<div class="inner-panel">
						<strong>{{result.label}}</strong>
						<h3>{{result.title}}</h3>						
						<div class="foot-panel">
							<ul class="list-inline">
								<li ng-if="result.started">
									<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Started</li>
								<li ng-if="!result.started">
									<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Not Started</li>
								<li>
									<span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span> {{result.time}} hours</li>
							</ul>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div> <!-- /container -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>     	
	<script src="libs/angular/angular.js"></script>	
	<script src="js/app.js"></script>	
</body>
</html>